@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    font-family: "Arvo", sans-serif;
    background-color: #575454;
    color: #fafafa;
    margin: 0;
}

.header {
    margin-bottom: 25px;
    background-color: black;
}

.section-one {
    margin-top: 25px;
}

.hero-image {
    background: url("/assets/images/Olympic-Lifts.jpg") center center no-repeat;
    min-height: 500px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.hero-text {
    position: absolute;
}

.overlay {
    width: 300px;
    height: 100px;
    background-color: rgba(255, 196, 0, 0.5);
    color: #fafafa;
    position: absolute;
    top: 350px;
    left: 900px
}

#brand, #nav {
    text-transform: uppercase;
}

#brand a{
    color: rgb(255, 196, 0);
    text-decoration: none;
}

#nav li {
    list-style-type: none;
    float: right;
    margin-right: 7.5px;
}

#nav li a {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

#nav li a:hover {
    color: black;
    background-color: rgb(255, 196, 0);
}

#footer {
    background-color: black;
}

#socials a {
    font-size: 30px;
    color: rgb(255, 196, 0);
    letter-spacing: 10px;
}

#contact p,
#copyright p {
    font-size: 15px;
    color: rgb(255, 196, 0);
    margin-top: 10px;
}

#socials a:hover {
    font-size: 30px;
    color: black;
    background-color: rgb(255, 196, 0);
    letter-spacing: 10px;
}