/* Import the desired Arvo font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* Site wide */
body {
    font-family: "Arvo", sans-serif;
    background-color: #575454;
    color: #fafafa;
    margin: 0;
}

.header {
    margin-bottom: 0px;
    background-color: black;
}

#brand,
#nav {
    text-transform: uppercase;
}

#brand a {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

#nav li {
    list-style-type: none;
    float: right;
    margin-right: 7.5px;
}

#nav li a {
    color: rgb(255, 196, 0);
    text-decoration: none;
    margin-left: 1em;
}

#nav li a:hover {
    color: black;
    background-color: rgb(255, 196, 0);
}

#footer {
    background-color: black;
}

#socials a {
    font-size: 30px;
    color: rgb(255, 196, 0);
    letter-spacing: 10px;
}

#contact p,
#copyright p {
    font-size: 15px;
    color: rgb(255, 196, 0);
    margin-top: 10px;
}

#socials a:hover {
    font-size: 30px;
    color: black;
    background-color: rgb(255, 196, 0);
    letter-spacing: 10px;
}

/* Banner and hero-image on landing/home page */
.better-starts-today {
    color: #fafafa;
    background-color: rgba(255, 196, 0, 0.5);
    width: 100%;
    min-height: 50px;
}

.better-starts-today h2 {
    padding-top: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.better-starts-today p {
    padding-top: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero-image {
    background: url("../images/olympic-lifts.jpg") center center no-repeat;
    min-height: 500px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    min-height: 300px;
}

/* Pricing */
a#link {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

a#link:hover {
    color: black;
    background-color: rgb(255, 196, 0);
    text-decoration: none;
}

#shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#bolt {
    background-color: rgba(255, 196, 0, 0.75);
}

#fire {
    background-color: rgba(255, 196, 0, 0.5);
}

#air {
    background-color: rgba(255, 196, 0, 0.25);
}

ul li.no-bullet {
    list-style-type: none;
}

/* Join Us */
form {
    background-color: rgba(255, 196, 0, 0.25);
    margin-bottom: 20px;
    margin-top: 20px;
}

form ul li {
    list-style: none;
    padding: 5px;
}

form .buttons {
    margin-bottom: 20px;
    margin-left: 50px;
}

form .buttons:hover {
    background-color: black;
    color: rgb(255, 196, 0);
}

#high-five {
    width: 100%;
    min-height: 500px;
}